.ui.segment.series-body {
  padding-right: 2em;
  padding-bottom: 3em;
  padding-left: 2em;

  ul {
    margin: 1.5em 0;
  }

  li {
    margin: 0.25em 0;
    line-height: $lh-content;
  }

  code {
    background-color: #efefef;
    padding: 0.3em;
  }

  pre.code-block {
    background: $tertiary;
    color: $primary-body;
    padding: 0.75em;
    border: 15px solid lighten($color: $tertiary, $amount: 15);
    overflow: scroll;
  }
}