$primary: #CC8D1A;
$primary-lt: #E3C75F;
$secondary: #164C45;
$tertiary: #16232E;

body {
  background-color: lighten($color: $primary, $amount: 40%);
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: black;
  margin: 0;
}

a {
  color: $secondary;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.5rem;
}

.header {
  background-color: $tertiary;
  color: white;
  min-height: 50px;
  border-bottom: 3px solid $primary;
  text-align: center;

  .header-slug {
    font-size: 1.4rem;
    padding: 15px 0;
  }
}

#content {
  min-height: calc(100vh - 250px);
}

.ui.menu.main-menu {
  margin-top: 0;
  background-color: change-color($color: $primary-lt, $saturation: 50%, $lightness: 95%);

  a.item {
    color: $tertiary;
    font-weight: 600;
  }
}

.page-title {
  margin: 3em 0;

  h1 {
    background-color: $primary;
    color: $tertiary;
    display: inline-block;
    padding: 15px 35px;
    clip-path: polygon(15px 8%, 100% 0%, calc(100% - 15px) 92%, 0% 100%);
  }
}

.ui.segment {
  background-color: lighten($color: $primary-lt, $amount: 35%);

  &.series-step {
    text-transform: uppercase;
    padding: 8px 12px;

    p {
      font-size: 0.9em;
      font-weight: 600;
      margin: 0;
      color: change-color($color: $secondary, $saturation: 10%, $lightness: 40%);
    }
  }
}

.section-title {
  color: $tertiary;
  margin: 2rem 0;
  line-height: 1.75rem;
  max-width: 45rem;
}

.series-li {
  h2 {
    margin: 8px 0 0;

    a {
      color: black;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  p {
    margin: 5px 0;
  }

  p.series-step {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0;
    color: change-color($color: $secondary, $saturation: 10%, $lightness: 40%);
    text-align: right;
  }
}

a.link-border {
  border-bottom: 4px solid transparent;
  text-decoration: none;
  transition: border 200ms;
  padding-bottom: 4px;

  &:hover,
  &:focus {
    border-bottom-color: $secondary;
    text-decoration: none;
  }
}

.footer {
  margin-top: 3em;
  min-height: 100px;
  border-top: 3px solid $primary;
  background-color: $tertiary;
  color: white;
}