<head>
  <title>Learn Buffalo</title>
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8">
  {{ $sass := resources.Get "scss/main.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  {{ $grid := resources.Get "grid.css" }}
  <link href="{{$grid.Permalink}}" rel="stylesheet" />
  {{ $container := resources.Get "container.css" }}
  <link href="{{$container.Permalink}}" rel="stylesheet" />
  {{ $menu := resources.Get "menu.css" }}
  <link href="{{$menu.Permalink}}" rel="stylesheet" />
  {{ $segment := resources.Get "segment.css" }}
  <link href="{{$segment.Permalink}}" rel="stylesheet" />

  <link href="{{$style.Permalink}}" rel="stylesheet" />
</head>
