{{ define "main" }}
  <div class="page-title">
    <h1>{{ .Title }}</h1>
  </div>

  <div class="series-single">
    <div class="ui segment compact series-step">
      <p>Part {{ .Params.step }}</p>
    </div>

    <div class="series-body ui segment">
      {{ .Content }}
    </div>

    {{ $next := add .Params.step 1 }}
    {{ range where .Site.Menus.series "Weight" $next }}
      <div class="ui basic right aligned segment">
        <a href="{{.URL}}" title="{{.Name}}">Next: {{.Name}}</a>
      </div>
    {{ end }}
  </div>
{{ end }}